# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terragrunt-cache/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
ansible/inventory.ini

# Environment variables and secrets
.env
*.env
*.tfvars
credentials.json

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log 